doctype html
html
	head
		meta(charset="utf-8")
		title Eliminar libro
	body
		form(id="eliminarForm" action="/eliminarLibro/eliminar" method="post")
			p
				label(for="libroEliminar") Id libro:
				input(type="text" id="libroEliminar" name="id_libro")
			p
				input(type="hidden" name="metodo" value="delete")
				input(type="submit" value="Eliminar")